langchain
chroma
firebase-admin
numpy
pandas
torch
transformers
faiss-cpu
dotenv
langchain-community
langchain-huggingface
huggingface_hub
chromadb
sentence-transformers
langchain_ollama
langchain_chroma
pypdf
langchain_text_splitters
accelerate
langgraph