langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchainhub
huggingface
pypdf
faiss-cpu
python-dotenv
sentence-transformers
requests
streamlit
ollama
tavily-python
certifi
chardet
charset-normalizer